.navbarItems {
    background: green;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.navbarItems a {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.left,
.right {
    display: flex;
}

.right a:hover {
    color: yellow;
}

.right ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menuItem {
    font-weight: 600;
    font-size: 1.5rem;
}

.menuItem:not(:last-child) {
    margin-right: 2rem;
}

.logoText {
    margin-left: 1rem;
    color: white;
}

.subtitle {
    margin-top: -5px;
}