.container {
    // padding: .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;

        .title {
            font-weight: bold;
        }

        .close {
            cursor: pointer;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .content {
            margin-top: 1rem;
        }
    }
}